@media (min-width: 420px) {
    .articleListBox__recipeImg {
        display: flex;
        border-radius: 16px;
        margin: 40px auto 0 auto;
    }
    
    .articleListBox__title {
        font-size: 20px;
        width: 306px;
        margin-top: 12px;
        margin-bottom: 12px;
    }
    
    .articleListBox__recipeDescrip {
        font-size: 14px;
        width: 314px;
        margin-bottom: 12px;
        font-weight: 300;
    }
    
    .articleListBox__descriptions {
        display: flex;
        flex-wrap: wrap;
        padding-left: 66px;
    }
    
    .articleListBox__publicationDescript {
        display: flex;
        align-items: center;
    }
    
    .articleListBox__publicationDescript--authorImg {
        align-items: flex-start;
    }
    
    .articleListBox__publicationDescript--data {
        align-items: flex-end;
    }
    
    .articleListBox__namesAndDates {
        display: inline-flex;
    }
    
    .articleListBox__namesAndDates--authorName {
        font-weight: bold;
        padding-left: 12px;
    }
    
    .articleListBox__namesAndDatest--pubDate {
        padding-left: 50px;
    }

    .buttons__mobile {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-top: 44px;
        margin-bottom: 55px;
        gap: 16px;
    }

    .btn--light:active {
        background-color: black;
        color: #fff;
    }

    .buttons__desktop {
        display: none;
    }
    
}

@media screen and (min-width: 1024px) {
    .buttons__desktop {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-top: 44px;
        margin-bottom: 55px;
        gap: 16px;
    }
    
    .buttonArea{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        gap: 16px;    }
}