.paginationContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 44px;
  margin-bottom: 55px;
}

.paginationContainer__buttonList {
  gap: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 44px;
}

.paginationContainer {
  grid-area: c;
}

@media (max-width: 1024px) {
  .paginationContainer__buttonList {
    padding-top: 44px;
  }
  
}
@media (min-width: 1024px) {
  .paginationContainer__buttonList {
    padding-top: 44px;
  }
  
}