@media (max-width: 1092px) {
  .moreRecipesTxt {
    
    flex-direction: column;
    &__title{
      margin-bottom: 1.5rem;
    }
  }
}

.moreRecipesTxt {
  display: flex;
  width: clamp(290px, 85%, 100%);
  align-items: center;
  justify-content: center;
  margin-bottom: 3.75rem;

  &__title {
    font-weight: 600;
    font-size: max(1.7rem, 3rem);
    padding-right: 7rem;
  }
  &__description {
    font-size: 1rem;
    color: #00000099;
  }
}


@media (max-width: 712px) {
  .moreRecipesTxt {
    flex-direction: column;

    &__title {
      font-size: 2.5rem;
      margin-bottom: 1.5rem;
    }
    &__description {
      font-size: 0.75rem;
    }
  }
}