.recipeDetails {
    padding: 80px;

    &__title {
        font-style: normal;
        font-weight: 600;
        font-size: 64px;
        line-height: 77px;
        letter-spacing: -0.04em;
        padding-bottom: 18px;
    }

    &__visualArea {
        display: flex;
        justify-content: center;
        gap: 40px;
    }

    &__video {
        width: 840px;
        height: 600px;
    }

    &__endingText {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        text-align: justify;
        color: rgba(0, 0, 0, 0.6);
        margin-top: 80px;
    }
}