.inputContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
}

.inputContainer__input {
    border: 1px solid black;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  width: 365px;
  height: 59px;
  border-radius: 24px;
  border: #ffffff;

  margin-bottom: 32px;
  padding-left: 28px;

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.4);
}

.inputContainer__input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.4);
}

@media (min-width: 768px) {
  .inputContainer__input {
    width: 465px;
    height: 59px;
  }

  .inputContainer__btn {
    width: 465px;
  }
}

@media screen and (min-width: 1024px) {
  .inputContainer__input {
    width: 480px;
    height: 80px;
    border-radius: 24px;
  }
  .inputContainer__input::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 17px;
  }

  .inputContainer__btn {
    background: #000000;
    width: 0;
    height: 0;
    border-radius: 0px;
    color: #ffffff;
    margin-bottom: 0px;
    margin-top: 0px;
    display: none;
    align-content: none;
    justify-content: none;
    align-items: none;
  }

  .inputContainer__btn {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 16px;
    height: 80%;
    width: 160px;
    margin-right: 0px;
    background-color: black;
    cursor: pointer;
    margin-right: 10px;
    border: none;
  }

  .inputContainer {
    padding-left: 0px;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    flex-direction: row;
    background-color: white;
    height: 80px;
    width: 480px;
    font-size: 1rem;
    border-radius: 1rem;
    text-align: start;
}
}
