.socialMediaPubli {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(231, 249, 253, 0)), to(#E7F9FD));
  background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.01));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.01));
  width: 100%;
  height: 100%;
}

.socialMediaPubli__title {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.04em;
  margin-bottom: 24px;
  width: 100%;
}

.socialMediaPubli__text {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 28px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 50px;
  width: 100%;
}

.socialMediaItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
  width: 100%;
  gap: 40px;
}

.socialMediaPubli__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 229px;
  height: 60px;
  background: #000000;
  border-radius: 16px;
  margin-bottom: 83px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .socialMediaPubli {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .socialMediaPubli__title {
    font-size: 48px;
    line-height: 58px;
  }
  .socialMediaPubli__text {
    font-size: 16px;
  }
  .socialMediaItems {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    gap: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .socialMediaItems {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    gap: 40px;
  }
}
/*# sourceMappingURL=style.css.map */
