@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600&family=Ubuntu:wght@400;500&display=swap");

.cardContainer__card {
  width: 221.67px;
}
.cardContainer__img {
  margin-bottom: 29px;
  width: 100%;
}
.cardContainer__text {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}
.cardContainer__author {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 47px;
}

@media (min-width: 1024px) {
  .cardContainer__card{
    display: flex;
    width: 400px;
  }
  .cardContainer__img  {
    padding-right: 24px
  }
  .cardContainer__group {
    width: 196px;
  }
}
