.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 47px;
}

.cardContainer__article--img{
  margin-bottom: 28.32px;

}

.cardContainer__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: -0.04em;
  margin-bottom: 47px;
}

.cardContainer__article--title {
  width: 241.38px;
  height: 68.96px;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.04em;
}

.cardContainer__article--author {
  width: 139.16px;
  height: 20.94px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 16.9px;
}