a.blogPageWrapper {
  display: flex;
  width: 100%;
}
@media (min-width: 1024px) {
  .blogPageWrapper {
    display: grid;
    grid-template-areas:
      "a b"
      "c c";
    grid-template-rows: 80% 20%;
    grid-template-columns: 60% 40%;
    /* gap: 40px; */
    width: 100%;
    margin: 40px 0px;
  }

  .blogPageWrapper:nth-child(0) {
  }

  .articleCard {
  }
}
