.featuredRecipeCard {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  background-color: #e7fafe;
  border-radius: 50px;
}

.featuredRecipeCard__leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 3%;
  width: 50%;
  height: 100%;
}
.featuredRecipeCard__categoriesStamp {
  transition: transform 0.5s;

  
}
.featuredRecipeCard__categoriesStamp:hover {
  transform: scale(1.05);
}

.featuredRecipeCard__cardInfo {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.featuredRecipeCard__title {
  font-weight: 600;
  font-size: 64px;
  transition: transform 0.5s;
}
.featuredRecipeCard__title:hover {
  transform: scale(1.05);
}

.featuredRecipeCard__subTitle {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  line-height: 28px;
  transition: transform 0.5s;
}
.featuredRecipeCard__subTitle:hover {
  transform: scale(1.05);
}

.featuredRecipeCard__recipeInfo {
  display: flex;
  gap: 16px;
}
.featuredRecipeCard__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.featuredRecipeCard__badge {
  position: absolute;
  top: 50px;
  margin-left: 80px;
  transition: transform 0.5s;
}
.featuredRecipeCard__badge:hover {
  transform: scale(1.11);
}
.featuredRecipeCard__rightContainer {
  width: 50%;
  height: 100%;
  background-image: url("../../../../public/assets/img/featuredCardRecipe.png");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0px 50px 50px 0px;
}

@media (max-width: 1200px) {
  .featuredRecipeCard__leftContainer {
    width: inherit;
    height: inherit;
  }
  .featuredRecipeCard__rightContainer {
    background-position: center;
  }
}

@media (max-width: 942px) {
  .featuredRecipeCard {
    flex-direction: column;
  }
  .featuredRecipeCard__badge {
    display: none;
  }
  .featuredRecipeCard__rightContainer {
    display: none;
  }
}
@media (max-width: 563px) {
  .featuredRecipeCard__title {
    font-size: 32px;
  }
  .featuredRecipeCard__footer {
  }
}
