.categoriesSection {
    margin-top: 20%;
    margin-bottom: 20%;
}

.categoriesSection__header {
    display: flex;
    justify-content: space-around;
}

.categoriesSection__title {
    margin-left: 2.5rem;
}