.btn {
  width: 11.25rem;
  height: 4rem;
  color: white;
  background-color: #000;
  border-radius: 0.75rem;
  font-weight: 600;
  font-family: Inter, sans-serif;
  font-size: 1rem;
}
.btn--large {
  width: 372px;
}
.btn--insideInput {
  width: 10rem;
  font-size: 14px;
}

.btn--tiny {
  width: 4rem;
  height: 4rem;
  border-radius: 1rem;
  font-weight: 700;
}
.btn--light {
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #000;
  background-color: #fff;
}
