.moreRecipesImgList {
  max-width: 87%;
  align-items: center;
  justify-content: center;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-column-gap: 2.5rem;
}
@media (min-width: 1440px) {
  .moreRecipesImgList {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 712px) {
  .moreRecipesImgList {
    width: 89%;
    height: 360px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
}