.tastyrecipes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1024px) {
  .tastyrecipes {
    flex-direction: column-reverse;
  }
}
