.carrossel {
    position: relative;
    width: 60%;
    height: 500px;
    margin-left: 67px;
    transition-delay: 5s;
} 
/* 
.heart {
    background-color: #DBE2E5;
} */

.elipse {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    background-color: #fff;
    left: 55%;
    position: absolute;
    margin-top: 8px;
    margin-left: 88px;
}

.default_heart {
    cursor: pointer;
    position: absolute;
    width: 20.25px;
    height: 18px;
    margin-top: 17px;
    margin-left: 14px;
    filter: invert(59%) sepia(1%) saturate(2325%) hue-rotate(169deg) brightness(96%) contrast(7%);
    
    
}

.red_heart {
    cursor: pointer;
    position: absolute;
    width: 20.25px;
    height: 18px;
    margin-top: 17px;
    margin-left: 14px;
    filter: invert(75%) sepia(65%) saturate(6589%) hue-rotate(328deg) brightness(113%) contrast(104%)
    
}


.prev {
    position: absolute;
    top: 20%;
    right: 275px;
}

.next {
    position: absolute;
    top: 20%;
    left: 310px;
}

.foodImg {
    
    border-radius: 16px;
}

.descriptions {
    display: flex;

}

.descriptions img {
    padding-top: 20px;
    
}

.descriptions p {
    padding-top: 22px;
    padding-right: 30px;
}

