.carrossel {
    display: flex;
    flex-direction: column;
    
}

.carrossel_title {
    text-align: center;
    margin-bottom: 100px;
}

.slidesFood {
    position: relative;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 100px;
    margin-left: 52px;
}

.slidesFood::-webkit-scrollbar {
    display: none;
}

.carrossel__container {
   
    display: flex;
    position: relative;
    align-items: flex-start;
   
    
    
}

.leftArrow {
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    position: absolute;
    left: 10px;
    z-index: 2;
}

.arrowRight {
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    position: absolute;
    right: 10px;
    z-index: 2;
}

.logica {
    min-width: 290px;
    margin-right: 40px;
}

.logica:nth-child(4){
    margin-right: 0;
}

.content {
    width: 290px;
}

.descriptions {
    display: flex;
    padding: 8px;
    align-items: center;
    
}

.descriptions p {
    padding: 8px;
}

/* .descriptions img {
    
    margin-top: 10px;
}  */

 /* .like__button {
   
} */

.ellipse {
    position: absolute;
    margin-top: 10px;
    margin-left: 223px;
   
}

.default_heart {
    position: absolute;
    margin-top: 26px;
    margin-left: 236px;
}

.red_heart {
    position: absolute;
    margin-top: 26px;
    margin-left: 236px;
    filter: invert(46%) sepia(77%) saturate(2172%) hue-rotate(329deg) brightness(112%) contrast(104%);
}

@media (max-width: 1024px) {
    .carrossel_title {
        display: none;
    }
}

@media (min-width: 320px) {
    
    .arrowRight {
        display: none;
    }
    .leftArrow {
        display: none;
    }
}
