.articleCard__recipeImg {
  display: flex;
  border-radius: 16px;
  margin: 40px auto 0 auto;
}

.articleCard__title {
  font-size: 20px;
  width: 306px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.articleCard__descriptions {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 66px;
}

.articleCard__recipeDescrip {
  font-size: 14px;
  width: 314px;
  margin-bottom: 12px;
  font-weight: 300;
}

.articleCard__publicationDescript {
  display: flex;
  align-items: center;
}

.articleCard__publicationDescript--authorImg {
  align-items: flex-start;
}

.articleCard__publicationDescript--data {
  align-items: flex-end;
}

.articleCard__namesAndDates {
  display: inline-flex;
}

.articleCard__namesAndDates--authorName {
  font-weight: bold;
  padding-left: 12px;
}

.articleCard__namesAndDatest--pubDate {
  padding-left: 50px;
}

@media (min-width: 780px) {
  .articleCard {
    display: flex;
    width: 60%;
  }

  .articleCard__title {
    width: 450px;
  }

  .articleCard__recipeDescrip {
    width: 450px;
  }

  .articleCard__recipeImg {
    margin-left: 5%;
  }

  .articleCard__descriptions {
    margin-top: 4%;
    padding-top: 2.5%;
    margin-left: -5%;
  }

  .articleCard__publicationDescript {
    margin-top: 4%;
  }
  /* .articleListBox__publicationDescript {
        margin-top: 10%;
    }
     */
}
