@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.advertising {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.advertising__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 312.44px;
  height: 339px;
  background-image: url("../../../public/assets/img/AdsPicture.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 28px 0px;
}

.advertising__title {
  width: 134.35px;
  height: 46.87px;
  font-family: "Lobster";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
}

.advertising__linkSite {
  height: 13px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
  padding-bottom: 28px;
}